@use "variable" as *;

.side-menu-container {
  transition: max-width 0.3s ease;
  max-width: 180px;

  &.collapsed {
    max-width: 60px;
  }

  mat-drawer {
    background-color: #ffecf0;
    width: 100%;
    border-radius: 0;
    transition: width 0.3s ease;
  }

  .mat-drawer-container {
    height: 100vh;
    width: 180px;
    border: 0.1px solid #e3dddd;
    transition: width 0.3s ease;

    &.collapsed {
      width: 60px;
    }

    .menu {
      mat-list-item {
        border-radius: 0;
        transition: padding 0.3s ease;
        margin: 0;
      }

      .menu-item {
        font-size: 18px;
        display: flex;
        align-items: center;
        border-radius: 5px;

        span {
          margin-left: 20px;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          transition: opacity 0.2s ease, width 0.2s ease, margin 0.2s ease;
          display: inline-block;
        }

        mat-icon {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: $phone-screen-width) {
  .side-menu-container {
    display: none;
  }
}
