<mat-card appearance="outlined">
  <mat-card-header>
    <div class="card-title-container">
      <div class="card-title">Grades list</div>
      <button matIconButton (click)="addGrade()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    @if(gradeResource.hasValue()) { @for(gradeData of gradeDataList(); track
    gradeData.id) {
    <pr-grade-collapse
      [gradeData]="gradeData"
      (reloadList)="gradeResource.reload()"
      (editGradeEmitter)="editGrade($event)"
    ></pr-grade-collapse>
    } } @else {
    <p>
      It looks like you don't have any grades. You can add one at any time by
      clicking the plus button.
    </p>
    }
  </mat-card-content>
</mat-card>
