@use "variable" as *;

.layout-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  .layout-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    .layout-content {
      flex: 1;
      padding: 50px;
      background-color: $color-background-light;
    }
  }
}

@media (max-width: $phone-medium-scren-width) {
  .layout-container .layout-main {
    .layout-content {
      padding: $margin-small;
    }
  }
}
