.logo-brand-name {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  img {
    width: 150px;
    margin: 10px auto;
  }
}

.logo {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  img {
    width: 30px;
    margin: 15px auto 20px;
  }
}
