@use "variable" as *;

.grade-form {
  display: flex;
  flex-direction: column;
  .basic-grade-data-inputs {
    display: flex;
    justify-content: space-between;
    gap: $gap-default;
    mat-form-field {
      margin-bottom: $margin-small;
      width: 100%;
    }
    &.narrow {
      flex-direction: column;
    }
  }

  .button-container {
    button {
      float: right;
    }
  }
}

@media (max-width: $tablet-screen-width) {
  .basic-grade-data-inputs {
    flex-direction: column;
  }
}

@media (max-width: $phone-small-scren-width) {
  .edit-form {
    mat-form-field {
      max-width: 180px;
      font-size: $font-size-small;
    }

    mat-label {
      font-size: $font-size-small;
    }
  }
}
