@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-primary),
    )
  );
}
